{% extends 'base.html' %}
{% block title %}
Вход
{% endblock %}


{% block main %}
<main>
  <div class="container">
    <div class="form">

      <form class="form-horizontal" role="form" method="POST">
        <h1>Вход</h1>
        {% with messages = get_flashed_messages(True) %}
        {% if messages %}
        {% for category, message in messages %}
        <p class="flash {{category}}">{{message}}</p>
        {% endfor %}

        {% endif %}
        {% endwith %}
        <div class="form-group mt-5">
          <div class="form-group">
            <label for="inputEmail3" class=" control-label">Почта</label>
            <div class="">
              <input type="email" class="form-control" id="email" placeholder="name@example.com" placeholder="Почта" name="email" required>
            </div>
          </div>
          <div class="form-group my-3">
            <label for="inputPassword3" class=" control-label">Пароль</label>
            <div class="">
              <input type="password" class="form-control" placeholder="Пароль" name="password" required>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2">
              <button type="submit" id="authButton" class="btn btn-dark disabled">Войти</button>
            </div>
          </div>
          <p class="my-3">Нет аккаунта? <br> <a href="/reg" class="link-info">Регистрация</a></p>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}

{% block js %}
<script src="../static/js/imask.js"></script>

<script>
let emailInput = document.querySelector("#email");
  // Считываем поле ввода
let btn = document.querySelector("#authButton");

const EMAIL_REGEXP = /^(([^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*)|(".+"))@(([^<>()[\].,;:\s@"]+\.)+[^<>()[\].,;:\s@"]{2,5})$/iu;


function isEmailValid(value) {
return EMAIL_REGEXP.test(value);
}


emailInput.addEventListener('input', onInput);


function onInput() {
  if (isEmailValid(emailInput.value)) {
    btn.classList.remove("disabled");
    emailInput.style.borderColor = 'green';
  } else {
    emailInput.style.borderColor = 'red';
    btn.classList.add("disabled");
  }
}
</script>

{% endblock %}