{% extends 'base.html' %}
{% block title %}
Регистрация
{% endblock %}


{% block main %}
<main>
  <div class="container">
    <div class="form">

      <form class="form-horizontal" method="POST" action="">
        <h1>Регистрация</h1>
        {% with messages = get_flashed_messages(True) %}
        {% if messages %}
        {% for category, message in messages %}
        <p class="flash {{category}}">{{message}}</p>
        {% endfor %}

        {% endif %}
        {% endwith %}
        <div class="form-group mt-5">
          <div class="form-group  mb-3">
            <label for="inputEmail3" class=" control-label">Имя</label>
            <div class="">
              <input type="text" class="form-control" placeholder="Имя" name="name">
            </div>
          </div>
          <div class="form-group  mb-3">
            <label for="inputEmail3" class="control-label">Фамилия</label>
            <div class="">
              <input type="text" class="form-control" placeholder="Фамилия" name="surname" required>
            </div>
          </div>
          <div class="form-group  mb-3">
            <label for="inputEmail3" class=" control-label">Почта</label>
            <div class="">
              <input type="text" class="form-control" id="email" placeholder="name@example.com" name="email" required>
            </div>
          </div>
          <div class="form-group  mb-3">
            <label for="inputEmail3" class=" control-label">Номер телефона</label>
            <div class="">
              <input type="tel"  id="phone" class="form-control" placeholder="+375(__)___-__-__" name="phone" required>
            </div>
          </div>
         
          <div class="form-group mb-3">
            <label for="inputPassword3" class="control-label">Пароль</label>
            <div class="">
              <input type="password" class="form-control" placeholder="Пароль" name="password" required>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2">
              <button type="submit" class="btn btn-dark disabled" id="regButton">Зарегистрироваться</button>
            </div>
          </div>
          <p class="my-3">Есть аккаунт? <br> <a href="/auth" class="link-info">Войти</a></p>

        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}

{% block js %}
<script src="../static/js/imask.js"></script>

<script>
let emailInput = document.querySelector("#email");
  // Считываем поле ввода
let phoneInput = document.querySelector("#phone");
let btn = document.querySelector("#regButton");

// Создаем маску в инпуте
const phoneMask = new IMask(phoneInput, {
  mask: "+{375}(00)000-00-00",
});

const EMAIL_REGEXP = /^(([^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*)|(".+"))@(([^<>()[\].,;:\s@"]+\.)+[^<>()[\].,;:\s@"]{2,5})$/iu;


function isEmailValid(value) {
return EMAIL_REGEXP.test(value);
}


phoneInput.addEventListener("input", phoneInputHandler);


function onInput() {
  if (isEmailValid(emailInput.value)) {
    emailInput.style.borderColor = 'green';
  } else {
    emailInput.style.borderColor = 'red';
  }
}

emailInput.addEventListener('input', phoneInputHandler);

function phoneInputHandler() {
  if (phoneMask.masked.isComplete && isEmailValid(emailInput.value)) {
    btn.classList.remove("disabled");
    phoneInput.style.borderColor = 'green';
    emailInput.style.borderColor = 'green';
  } else {
    btn.classList.add("disabled");
    phoneInput.style.borderColor = 'red';
    emailInput.style.borderColor = 'red';
  }
}


</script>

{% endblock %}