{% extends 'base.html' %}
{% block title %}
Мерч
{% endblock %}

{% block main %}
{{ ckeditor.load() }}
<main>
  <div class="album py-5 bg-light">
    <div class="container">
 <!-- Новости-->
 {%if 'name' in session and active_user.root==1%}
 <p>
   <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
     Добавить запись
   </a>
   {% with messages = get_flashed_messages(True) %}
   {% if messages %}
   {% for category, message in messages %}
   <p class="flash {{category}}">{{message}}</p>
   {% endfor %}
   {% endif %}
   {% endwith %}
 </p>

 <div class="collapse" id="collapseExample">
   <form class="my-5" method="post" enctype="multipart/form-data">
     <h2 class="title">Добавить мерч</h2>
     <div class="mb-3">
       <label for="exampleInputEmail1" class="form-label">Название</label>
       <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title" required>
     </div>
     <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Цвет</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="color" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Размер</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="size" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Материал</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="material" required>
    </div>
     <div class="mb-3">
       <label for="exampleInputEmail1" class="form-label">Цена</label>
       <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="price" required>
     </div>
     
     <div class="mb-3">
       <label for="exampleInputEmail1" class="form-label">Изображение №1</label>
       <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="image1" accept=".jpg,.jpeg,.png" required>
     </div>
     <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Изображение №2</label>
      <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="image2" accept=".jpg,.jpeg,.png" required>
    </div>
     <div class="mb-3">
       
       <label for="exampleInputEmail1" class="form-label">Описание</label>
       {{ ckeditor.create() }}
     </div>

     <button type="submit" class="btn btn-dark">Добавить мерч</button>
   </form>
 </div>
 {% endif %}
 {%if not merches%}
          <p class="text-center">Мерч еще не добавлен!</p>
        {%endif%}

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 d-flex align-items-stretch">
       
        {% for el in merches%}
        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/img/news/{{el.photo1}}" alt="">
            <div class="card-body">
              <p class="card-text">{{el.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/shop-page/{{el.id}}" class="btn btn-sm btn-outline-secondary">Просмотр</a>
                </div>
                <small class="text-muted">{{el.price}} BYN</small>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}   
      </div>
    </div>
  </div>
</main>
{% endblock %}

